# Object files
*.o
*.ko
*.obj
*.elf

# Dependecies
*.d

# Directories
bin/
obj/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
minicas # Main executable name
*.exe
*.out

# Swap files
*.swp
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
